.main{
  height: 620px;
  width:95%;
  background: linear-gradient(to right, #0062E6, #33AEFF);
  margin:70px;
  padding:10px;
  display:flex;
  flex-direction: row;
}
.card{
  background-color: rgb(231, 238, 238);
  width:30%;
  border-radius: 12px;
  margin:13px;
  padding:8px;

}
p{
  text-align: center;
}
li{
  list-style-type: none;
  font-size: 16px;
  margin:20px;
}
.btn{
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
    width:400px;
}
.dollar{
  font-weight: 600;
  font-size: 40px;
}
.head{
  text-opacity: 1;
    color: #6c757d!important;
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
    text-align: center!important;
    text-transform: uppercase!important;
}
.card:hover{
  margin-top:2px;
}
.btn:hover{
  cursor: pointer;
}